.backgroundItems {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  composes: backgroundItems;
  background: black url("./images/stars.png") repeat top center;
  z-index: -3;
}

.alpha {
  composes: backgroundItems;
  background: transparent url("./images/alpha.png") repeat top center;
  z-index: -2;
  animation: stargazing 500s linear infinite;
}

.nebula {
  composes: backgroundItems;
  opacity: 0.5;
  background: transparent url("./images/nebula.png") repeat top center;
  z-index: -1;
}

@keyframes stargazing {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
