.card {
  display: inline-block;
  width: 90%;
  font-family: monospace;
  border-radius: 3px;
  border: 1px solid rgba(168, 168, 168, 0.2);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 20px 25px 20px;
  margin-bottom: 10px;
}

.card:hover {
  animation-name: flash;
  animation-duration: 1s;
  border: 1px solid rgba(168, 168, 168, 02);
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact {
  text-align: justify;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.badge {
  margin-bottom: 0px;
}
